# Python Basics

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Creating dataframe using list:

x = ['python', 'pandas']

df = pd.DataFrame(x) #Calling DataFrame constructor on list & loading x into dataframe.
print(df)

        0
0  python
1  pandas

In [4]:
#Creating dataFrame from Dictionary

info = {
    'ID' : [101,102,103],
    'Department' : ['B.Sc', 'B.Tech', 'M.Tech']
}

df = pd.DataFrame(info) #Dictionary items (keys) are represented as columns & distinct entries (values) are represented as rows.
print(df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [5]:
#Creating simple pandas series from list
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [6]:
print(myvar[0])

1

In [7]:
a = [1,7,2]
myvar = pd.Series(a, index = ["x", "y","z"]) #Creating labels. Using index argument we are naming labels.
print(myvar)

x    1
y    7
z    2
dtype: int64

In [8]:
print(myvar["y"]) #Access series item by labels.

7

In [9]:
#Using dictionary to create series
calories = {"day1":420, "day2":380, "day3":390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [10]:
#Creating dataframe from Dict of series
#Series is a one-dimensional array holding data of any type.
info = {
    'one' : pd.Series([1,2,3,4,5,6], index = ['a', 'b', 'c', 'd', 'e', 'f']),
    'two' : pd.Series([1,2,3,4,5,6,7,8], index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
}

d1 = pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [11]:
print(d1['one'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [12]:
import numpy as np

In [13]:
df = pd.DataFrame(  np.random.random(size=(10,4))   ,   columns=["A",'B',"C","D"]  )
print(df)

          A         B         C         D
0  0.990318  0.216010  0.108767  0.095495
1  0.869204  0.811729  0.893684  0.754428
2  0.883707  0.320118  0.347704  0.169835
3  0.671842  0.437979  0.225554  0.685258
4  0.128894  0.416035  0.228257  0.347536
5  0.344500  0.284328  0.802312  0.472694
6  0.239556  0.165397  0.667628  0.236181
7  0.207452  0.965092  0.729414  0.711284
8  0.359216  0.258743  0.105259  0.004204
9  0.930420  0.827178  0.915859  0.687102

In [14]:
#Creating new df and saving it as various formats

df = pd.DataFrame(  np.random.random(size=(10,4))   ,   columns=["A",'B',"C","D"]  )
df.head()

          A         B         C         D
0  0.090315  0.642417  0.475039  0.207110
1  0.703470  0.827926  0.418168  0.024089
2  0.941620  0.104404  0.657615  0.618899
3  0.190407  0.557520  0.913449  0.132229
4  0.053817  0.367222  0.446009  0.623311

In [15]:
df.to_csv("save.csv", index = True, float_format="%0.4f")
df.to_pickle("save.pk1")

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pd.read_csv('Data.csv')

#Data Preprocessing

In [ ]:
import matplotlib.pyplot as pyplot

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
#Independent Variables: Country, Age, Slary
#Dependant Variables : Purchased
dataset = pd.read_csv("Data (1) (1).csv")
print(dataset)
dataset

In [ ]:
#Print rows and columns in dataset
print(dataset.shape)

In [ ]:
#Print informaton bout dataset
#Object  means categorical values like france, spain, character, values
dataset.info()

In [ ]:
datatypes = dataset.dtypes
print(datatypes)

In [ ]:
#Count total no of classes in Data
class_counts = dataset.groupby('Purchased').size()
print(class_counts)

In [ ]:
##Count total no of classes in Data
class_counts = dataset.groupby('Country').size()
print(class_counts)

In [ ]:
import matplotlib.pyplot as pyplot
dataset.hist() #Histogram on neumerical values only. Range shown by histogram.
pyplot.show()

In [ ]:
dataset.isnull().sum() #Checking null entries. Sum of all true values. Zero means not containing null value.

In [ ]:
dataset.isnull()

In [ ]:
df = dataset.dropna() #Dropping rows with atleast 1 null value using dropna() function.
print(df) #Rows 4th & 6th are dropped.

In [ ]:
#Dropping rows if any value is missing
df = dataset.dropna(how = "all")
print(df)

In [ ]:
#Dropping rows if any value in that row is missing. Axis value 1 means column
df = dataset.dropna(axis = 1, how = "all")
print(df)

In [ ]:
df = dataset.fillna(0) #Filling null values with single value. Filling missing values with fillna().
print(df)

In [ ]:


#Filling null values with previous ones

print(dataset)

print("------------------After Padding------------------------")
df = dataset.fillna(method = 'pad') #Filling null values with single value. Filling missing values with fillna(). Forward fill.
print(df)

In [ ]:
#Filling null values with next ones
#Values in current NaN cella are filed from

print(dataset)

print("------------------After Padding------------------------")
df = dataset.fillna(method = 'bfill') #Filling null values with single value. Filling missing values with fillna(). Forward fill.
print(df)

In [ ]:
dataset = pd.read_csv("Data.csv")
print(dataset)
print("------------------------------------------------------")

#Select rows and columns by their integer index positions.

df = dataset.iloc[1:3, 2:3] # [  [1,3), [2,3) ]
print(df)

#[1:3, 2:3] specifies that you want rows from index 1 to 2 (up to, but not including index 3), and columns from index 2 to 2 (only column at index 2).

In [ ]:
df = dataset.iloc[:,:] # [  [1,3), [2,3) ]
print(df)

In [ ]:
df['Salary'].fillna(df['Salary'].median(), inplace = True)
print(df)

#This code fills in missing values in the 'Salary' column of the DataFrame df with the median value of the 'Salary' column, and then prints the DataFrame.
#inplace : This parameter modifies the DataFrame df in place, applying the changes directly to the original DataFrame.

In [ ]:
df['Country'].replace(['France', 'Spain', 'Germany'], [0,1,2], inplace = True)
print(df)


- Interpolation
-One Hot Encoding
-Label Encoding

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

In [ ]:
dataframe = pd.read_csv('Data (1).csv')

In [ ]:
import numpy as np
dataframe = dataset.replace(to_replace = np.nan, value=-99)
print(dataframe)

In [ ]:
#We can do Interpolations to replace NaN values instead of mean, mode median.Dropna, fillna, to_replace, interpolation

import pandas as pd
pf = pd.DataFrame({
    "A":[2,4,5,None],
    "B":[None, 3,4,2],
    "C":[3,None, 4,1],
    "D":[2,3,None,5]
})
df = pf.interpolate(method = "linear", limitdirection= 'forward')
print(df)

In [ ]:
#String to Neumeric : 1) One Hot 2) Label Encoding
dataframe['Country'].replace(['France', 'Spain', 'Germany'],[0, 1, 2], inplace=True)

In [ ]:
print(dataframe)

In [ ]:
dataframe['Purchased'].replace(['Yes', 'No'],[1,0], inplace=True)
print(dataframe)

In [ ]:
dummies = pd.get_dummies(dataframe.Country) #One-Hot Encoding
print(dummies)

In [ ]:
merged = pd.concat([dataframe, dummies], axis='columns')
print(merged)

In [ ]:
merged.drop('Country', axis=1, inplace=True)
print(merged)

In [ ]:
X = pd.read_csv("Data (1).csv")
print(dataset)
print("--------------------------")
X = dataset.iloc[:,0:3].values
print(X)

In [ ]:
Y = dataset.iloc[:,3:].values
print(Y)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.NAN, strategy= 'mean', copy=True)
imputer = imputer.fit(X[:, 1:3]) #1:3 as model to fit on integer values
X[:, 1:3]= imputer.transform(X[:, 1:3]) #Replace missing data with mean values

In [ ]:
print(X)

In [ ]:
details = pd.DataFrame(X, columns =['Country', 'Age',  'Salary'])
details.isnull().sum() #No missing values found

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
print(X)

In [ ]:
labelencoder_X = LabelEncoder()
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
print(X)

In [ ]:
#Inplace, copy, remainder have same role
#dummy encoding.
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

columnTransformer = ColumnTransformer([(OneHotEncoder(), [0])],remainder='passthrough')#'encoder',  remainder will work as same as inplace=true
X=columnTransformer.fit_transform(X)
print(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

print('X_train : ' ,  X_train )
print("-----------------------------")
print('X_test : ' ,  X_test )
print("-----------------------------")
print('y_train : ' , y_train )
print("-----------------------------")
print('y_test : ' ,  y_test )